# Activer la réécriture d'URL
RewriteEngine On
RewriteBase /portfolio-php/

# Redirection vers index.php si l’URL est vide
RewriteRule ^$ index.php [L]

# Clean URLs (optionnel, si tu veux faire index.php?page=...)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]

# Sécurité
<FilesMatch "(^composer\.|\.lock$|\.phar$)">
    Require all denied
</FilesMatch>

